/*1. The title and product image are centered.*/
h1,
h2 {
  text-align: center;
}

h3 {
  margin-bottom: 0;
}

.brand {
  padding-top: 1em;
}

/*1. Each card should take up 30% of the width of the browser window.*/
/*1. The entire card has a solid 1px border that is `lightblue`.*/
.card {
  margin-left: 2.333%;
  margin-bottom: 1%;
  width: 30%;
  border: 1px solid lightblue;
  /*border-radius: .5em;*/
  float: left;
}

/*1. The card title has a dotted 1px border that is `lightgray`.*/
.card h1 {
  padding: .5em;
  border: 1px dotted lightgray;
  margin: 0;
  /*border-radius: .5em;*/
}

.img-product {
  width: 60%;
  margin: 1em 20%;
}


/*1. Notice that the text for the description in the image is justified.*/
.desc-text {
  font-size: 1.2em;
  font-weight: 600;
  text-align: justify;
}

.desc-text,
.specs,
.pricing {
  width: 90%;
  margin: 0 auto;
}

.pricing {
  margin-top: -1em;
}

/*1. The text for the product specification details and pricing details is bold.*/
.specs p,
.pricing p {
  font-weight: bold;
  padding-left: 3%;
  margin: 0;
}

.specs footer p {
  font-size: .75em;
  font-weight: normal;
  padding-left: 0;
  margin-left: -1.5em;
}

/*1. The availability element extends the full width of the card, with a dark grey background and yellow text.*/
.in-stock {
  padding: .5em;
  text-align: center;
  background-color: darkgrey;
  color: yellow;
  font-size: 1.2em;
  /*box-shadow: inset 0 0 10px white;*/
}

.out-of-stock {
  padding: .5em;
  text-align: center;
  background-color: darkred;
  color: grey;
  font-size: 1.2em;
  /*box-shadow: inset 0 0 10px white;*/
}